.page {
  background-color: var(--bg-light);
  font: var(--main-font);
  color: var(--text-color-light);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}