.page-container {
  box-sizing: border-box;
  height: 100%;
  max-width: 880px;
  min-width: 328px;
  margin: 0 auto;
}

@media (max-width: 880px) {
  .page-container {
    max-width: 450px;
  }
}

@media (max-width: 550px) {
  .page-container {
    max-width: 300px;
  }
}

@media (max-width: 440px) {
  .page-container {
    max-width: 300px;
  }
}