.form__select {
  background-color: var(--secondary-light);
  width: 270px;
  height: 60px;
  border-style: none;
  border-radius: 12px;
  font: var(--text-r-m);
  color: var(--text-color-secondary);
  text-indent: 28px;
  appearance: none;
  background-image: url('../../../../public/images/utils-icons/icon-arrow_down.svg');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 40px);
  background-position-y: calc(100% - 24px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.form__select:focus {
  background-image: url('../../../../public/images/utils-icons/icon-arrow_up.svg');
  background-position-x: calc(100% - 40px);
  background-position-y: calc(100% - 24px);
}

@media (max-width: 880px) {
  .form__select{
    margin-top: 6px;
    width: 288px;
    height: 44px;
    background-position-y: calc(100% - 15px);
  }
  .form__select:focus {
    background-position-y: calc(100% - 15px);
  }
}