.form__button-swap {
  background-image: url("../../../../public/images/utils-icons/icon-arrows_change__default.svg");
  width: 60px;
  height: 60px;
  border: none;
  background-size: cover;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 96px;
}

@media (max-width: 880px) {
  .form__button-swap {
    rotate: 90deg;
    left: 44%;
    top: 92px;
    width: 44px;
    height: 44px;
  }
}