.form {
  background-color: #fff;
  border-radius: 20px;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 32px;
  padding: 52px 55px 20px 55px;
}

@media (max-width: 880px) {
  .form {
    justify-content: space-between;
    padding: 24px 20px 20px 20px;
  }
  .form__container:first-child {
    gap: 8px;
  }
  .form__container:last-child {
    gap: 32px;
  }
}

@media (max-width: 360px) {
  .form {
    justify-content: space-between;
    padding: 24px 20px 20px 20px;
  }
  .form:first-child {
    gap: 8px;
  }
}