.form__input {
  background-color: var(--secondary-light);
  width: 270px;
  height: 60px;
  border-style: none;
  border-radius: 12px;
  font: var(--text-r-m);
  color: var(--text-color-secondary);
  text-indent: 28px;
}

.form__input:focus {
  color: var(--text-color-main);
}

.form__input::placeholder{
  color: var(--text-color-secondary);
}

.input:valid{
  color: var(--text-color-accent);
}

@media (max-width: 880px) {
  .form__input{
    width: 288px;
    height: 44px;
  }
}