.header {
  background-color: var(--bg-dark);
  padding-inline: 200px;
}

@media (max-width: 1080px) {
  .header{
    padding-inline: 100px;
  }
}

@media (max-width: 880px) {
  .header{
    padding-inline: 50px;
  }
}

@media (max-width: 600px) {
  .header{
    padding-inline: 20px;
  }
}

@media (max-width: 360px) {
  .header{
    padding-inline: 15px;
    font-size: var(--font-size-l);
  }
}